@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 248, 250, 252;
}

html.dark {
  --foreground-rgb: 248, 250, 252;
  --background-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  overflow-x: hidden;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Custom scrollbars for Dark Mode */
html.dark ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
html.dark ::-webkit-scrollbar-track {
  background: #090d16;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Custom scrollbars for Light Mode */
html:not(.dark) ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
html:not(.dark) ::-webkit-scrollbar-track {
  background: #f1f5f9;
}
html:not(.dark) ::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
html:not(.dark) ::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
